

.schedule {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-basis: 100%;
    min-height: 549px;
    margin: auto;
    padding: 0 10px;

    @media(min-width: 368px) {
        padding: 0;
    }
    @media(min-width: 992px) {
        flex-basis: 50%;
    }

    &__wrapper {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
    }

    &__under {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 35px;
        flex-basis: 100%;
        padding-top: 25px;
        flex-basis: 100%;

        @media(min-width: 992px) {
            flex-basis: 50%;
            padding-top: 0px;
        }
    }

    &__header {
        display: flex;
        flex-direction: column;
        color:var(--subliight-font-color);
        //opacity: 72.18%;
        font-size: 0.75rem;
        color: var(--theme-color-2);
        font-weight: 700;

        @media(min-width: 576px) {
            font-size: 0.9rem;
        }

    }
    &__header-row{
        display: flex;
        justify-content: space-between;
        padding: 0;
        line-height: 16px;
        gap: 5px;

        @media(min-width: 768px) {
            padding-left: 16px;
            padding-right: 16px;
        }
        @media(min-width: 1440px) {
            padding-left: 24px;
            padding-right: 24px;
        }
    }
    &__header-row .schedule__cell{
        align-items: center;
    }

    &__subtitle {
    }
    &__subtitle--1 {
    }

    &__subtitle--3 {
    }
    &__body {
        display: flex;
        flex-direction: column;
        border-radius: 6px;
        padding: 0;
        background-color: var(--nothing-bg-color);
        line-height: 18px;
        font-size: 0.7em;
        gap: 5px;

        @media(min-width: 768px) {
            padding-left: 16px;
            padding-right: 16px;
        }
        @media(min-width: 1440px) {
            padding-left: 24px;
            padding-right: 24px;
        }
    }
    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 5px;
        @media(min-width: 1440px) {
        }
    }

    &__row:first-child .schedule__cell:nth-child(2) {
        border-radius: 7px 0 0 0;
    }
    &__row:first-child .schedule__cell:last-child {
        border-radius: 0px 7px 0 0;
    }
    &__row:last-child .schedule__cell:nth-child(2) {
        border-radius: 0 0 0 7px;
    }
    &__row:last-child .schedule__cell:last-child {
        border-radius: 0 0 7px 0;
    }

    &__cell:first-child {
        margin-top: -15px;
        flex-basis: 2.7%;
        padding-right: 7px;
        opacity: 0.9;
    }

    &__cell {
        flex-basis: 13.9%;
        display: flex;
        text-transform: uppercase;
        justify-content: center;
        min-height: 38px;
        min-width: 26px;
    }
    &__cell--free{
        font-size: 1.5rem;
        align-items: center;
        cursor: pointer;
        background-color: #a9ecd0;
        color: white;
        
    }
    &__cell--occupied{
        //background: repeating-linear-gradient(-45deg,#c2c2c2,#c2c2c2 0.15em,transparent 0,transparent 0.505em);
       // background-color: #e8e8e882;
       background-color: #e8e8e8f5;
    }
    &__cell--question{
        font-size: 1.5rem;
        color: white;
        align-items: center;
        cursor: pointer;
        background-color: #a9d0fe;

    }
    &__cell--free:hover {
        background-color: var(--theme-color-2-gradient);
        box-shadow: 0 -3px var(--theme-color-2) inset;
    }
    &__cell--free:active {
        background-color: var(--theme-color-2);
    }
    &__cell--question:hover {
        background-color: var(--theme-color-2-gradient);
        box-shadow: 0 -3px var(--theme-color-2) inset;
    }
    &__cell--question:active {
        background-color: var(--theme-color-2);
    }
    &__cell--free:hover::before {
        content: '✉';
    }

    &__cell--question:hover::before {
        content: '✉';
    }

/*
    &__cell--1{
    }
    &__cell--4 {
    }
    &__button {
        padding: 4px 18px;
    }
    &__slider {
        position: relative;
        @media (min-width:768px){
            display: none;
        }
    }
*/
    

}